@tailwind base;

/* Custom base styles */
a {
  font-weight: 500;
}

hr {
  @apply mt-10;
  border: 1px solid #ddd;
}

iframe {
  background: #ccc;
  border: 1px solid #ccc;
  height: 24rem;
  width: 100%;
  border-radius: .5rem;
  filter: invert(1);
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Custom component styles */
.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Custom utilities */
@layer utilities {
  @responsive {
  }
}
